@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.pa {
  font-size: 17px;
}

.container {
  background-color:white;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  max-width: 1568px;
}

.text p:nth-child(2) {
  margin: 20px 0;
}

.image {
  aspect-ratio: 930 / 635;
  background-image: url(https://s3-alpha-sig.figma.com/img/1c2f/d636/6c4feb0b005ab004d2cfce5d3961856c?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=blS64nGI7HyPUSdNVPt2dNWPeZhIh2Vly1BBuRFHLKSQsastG-YWGO-fJiEO9veQx1lw2azStTi0ACuhSS0zrUKM2Mm3GVw8~VqATQQMxO95clawGo9vwoJ8C4~ShiQjAE31623EYS0hvLvRgIOdqGAt-FzN8dXSdiwTlLfp7LI7iMyN4hM27XRJqPcV6c-xTsXaHWmy9X51WSpbHCFgI2sFKE2avZgXehMsjW2x-tyMhBr07i~uO7SQJVz20sRijOaenQW7XXbouIeg0q5n7khx~jdoQTo2Ifg~aGbvbmjjis6XBbOaA8iN0HuLd6IpZRusm9ppGC9I8ifeyFZIYA__);
  background-size: cover;
}

.text {
  background-color: white;
}

@media (min-width: 1200px) {
  .text {
    max-width: 600px;
  }
  .image {
    max-width: 930px;
    min-width: 620px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .text {
    width: calc(50% - 10px);
  }
  .image {
    width: calc(50% - 10px);
  }
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  .text,
  .image {
    width: 100%;
  }
}
