@font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.product_text{
    font-family: 'Jost', sans-serif;
    color:#3E424B;
    font-weight: 600;
    font-size: 1.875rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 120px;

}
.category {
    margin: 0 30px;
}

.productCon {
    display: grid;
    place-items: center;
    height: 100%;
    margin-top: 50px;
    position: relative;
}

.product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.category.hovered:hover {
    color: #BB8C5F; // Оранжевый цвет
}
.button{
    width: 275px;
    height: 70px;
    border: 3px solid  #BB8C5F;
    background-color: white;
    color: #BB8C5F;
    margin-top: 50px;
    font-size: 1.25rem;
}
@media (max-width: 576px) {
    .product {
      grid-template-columns: 1fr; /* Меняем на одну колонку */
      gap: 20px; /* Уменьшаем отступ между карточками */
    }
  
    .button {
      width: 50%; /* Растягиваем кнопку на всю ширину */
    }

    .product_text{
        display: none;
    }
}



@media (max-width: 576px) {
    .product {
      grid-template-columns: 1fr; /* Меняем на одну колонку */
      gap: 20px; /* Уменьшаем отступ между карточками */
    }
  
    .button {
      width: 50%; /* Растягиваем кнопку на всю ширину */
    }

    .product_text{
        display: none;
    }
}

@media (max-width: 768px) and (min-width: 576px) {
    .product {
        grid-template-columns: 1fr; /* Меняем на одну колонку */
        gap: 20px; /* Уменьшаем отступ между карточками */
      }
    
      .button {
        width: 50%; /* Растягиваем кнопку на всю ширину */
      }
  
      .product_text{
          display: none;
      }

}
@media (max-width: 992px) and (min-width: 768px){
    .product {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; /* Уменьшаем отступ между карточками */
      }
    
      .button {
        width: 50%; /* Растягиваем кнопку на всю ширину */
      }
    
      .product_text {
        display: none;
      }
}
@media (max-width: 1200px) and (min-width: 992px) {
    .product {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
      }
    
      .button {
        width: 50%;
      }
    
      .product_text {
        display: none;
      }
}

