.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: black;
}
  
  .main input {
    height: 40px;
    width: 300px;
    margin-bottom: 60px;
    padding: 10px;
    font-size: 16px;
}
  
  .main button {
    height: 40px;
    width: 300px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
  
  .error {
    color: red;
    margin-top: 20px;
}