@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.header{
  background-color: #050402;
  width: 1920px;
  height:160px;
}
.phone-icon{
  padding-left: 22rem; 
  padding-right:22rem;
  margin-top:36px;
}
.cont-icon{
  display: flex;
  align-items: center; /* Вертикально центрирует элементы */
  justify-content: center;
  padding-right:66rem;

}
.viber{
  font-family: 'Jost', sans-serif;
  color:aliceblue;
  font-size: 0.75rem;
  word-spacing: 12px;

}
.line-icon{
  padding-left: 22rem; 
  padding-right:22rem;
}
.number{
  font-family: 'Jost', sans-serif;
  color:aliceblue;
}
