@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.header{
  background-color: #050402;
  display: flex;
  justify-content: center;
  align-items: center;

}
.full{
  width: 1920px;
  height: 160px;
}

.contact-icons{
  display: flex;
  flex-direction: row;

    span{
      margin-left: 10px;
      padding-top: 5px;
      font-family: 'Jost', sans-serif;
      color:aliceblue;
    }

}
.mail{
  margin-left: 56px;
  display: flex;
  flex-direction: row;
    span{
      margin-left: 10px;
      padding-top: 5px;
      font-family: 'Jost', sans-serif;
      color:aliceblue;
    }
}
.viber{
  font-family: 'Jost', sans-serif;
  color:aliceblue;
  font-size: 0.75rem;
  word-spacing: 12px;

}
.line-icon{
  padding-left: 22rem;
  padding-right:22rem;
}
.logo_glav{
  //padding-left: 142px;
  //padding-right: 256px;
  display: flex;
  align-items: flex-start;


}
.liner{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 352px;
  padding-right:352px;
  padding-top:36px;
  width: 100%;
  margin: 0;
  justify-content: space-around;
}
.user_icon{
  display: flex;
  flex-direction: row;
  gap: 50px
}
.price {
font-family: 'Jost', sans-serif;
color: aliceblue;
display: flex;
align-items: center;
gap: 10px;
}
.mesenger{
  display: flex;
  margin-left: 5px;
  font-family: 'Jost', sans-serif;
  color:#D0D0D0;
  font-size: 13px;

  span {
    margin-right: 10px;
  }
}
.row{
  display: flex;
  flex-direction: row;
}

.container_layout{
  display: flex;
  flex-direction: row;
  align-items: center;
  //padding-left: 352px;
  //padding-right:352px;
  width: 100%;
  margin: 0;
}

.buttons_layout{
  width: 200px;
  display: flex;
  flex-direction: row;
}

.catalog_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 352px;
  //padding-right:352px;
  width: 100%;
  margin: 0;
}
.cat{
  font-family: 'Jost', sans-serif;
  color:#D0D0D0;
  margin-right: 10px;
  size:2.5rem;
}
.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #BB8C5F;
}
.burger-line {
  width: 100%;
  height: 4px;
  background-color:black;
  transition: transform 0.3s ease;
}

.burger-icon.open .burger-line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-icon.open .burger-line:nth-child(2) {
  opacity: 0;
}

.burger-icon.open .burger-line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.catalog-content {
  position: absolute;
  background-color: black;
  z-index: 1;
  padding: 1rem; /* Добавь отступы внутри меню */
  transition: transform 0.3s, opacity 0.3s;
}
.catalog-content.open {
  transform: translateY(0);
  opacity: 1;
}

.text {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
}

.text:hover {
  text-decoration: underline;
}

.d3 {background: black;
  width: 410px;
  margin-left: 60px; height: 40px;}
.d3 form {
  background: black;
  height: 39px;
  border: 1px solid #524336;
}
.d3 input, .d3 button {
  border: none;
  outline: none;
  background: transparent;
}
.d3 input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
  color: white;
  flex-grow: 1; 
}
.d3 button {
  height: 42px;
  width: 42px;
  cursor: pointer;
  margin-left: auto;
}
.d3 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #ffffff;
}
.promo{
  display: flex;
  align-items: center;

}
.textp{
  color: white;
  margin-right: 30px;
  margin-left: 20px;
  white-space: nowrap; /* Добавленное свойство */
}
.textp:last-child {
  margin-right: 0; /* Убираем отступ справа для последнего элемента */
}
.text2{
  color: white;
  font-family: 'Jost', sans-serif;
}
.heart{
  color: white;
}
.user{
  color:white;
}
.telephone{
  color:white;
  display: flex;
  flex-direction: row;
}










@media (max-width: 1200px) and (min-width: 992px) {

  .full {
    width: 100%;
    height: 120px;
  }
  .liner {
    display: flex;
    justify-content: space-around;

    //padding-left: 5px;
    //padding-right: 5px;
    //padding-top:20px;
  }

  .contact-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
  }
  .telephone{
    color:white;

  }
  
  .mail{
    margin-left: 75px;
      span{
        //margin-right:30px;
        //margin-left: 10px;
        ///padding-top: 5px;
        font-family: 'Jost', sans-serif;
        color:aliceblue;
      }
  }
  .user_icon{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 50px;
    //padding-bottom: 10px;
    //padding-left: 10px;
  }
  .user{
    color:white;
  }
  .logo_glav{
    //display: flex;
    //justify-content: center;
    margin-left: 60px;
    margin-right:60px;
  
  
  }
  .catalog_container,
  .mesenger,
  .line-icon,
  .catalog_container,
  .container_layout {
    display: none;
  }
}


/* Для экранов шириной до 992px */
@media (max-width: 992px) and (min-width: 768px){
  .full {
    width: 100%;
    height: 80px;
  }
  .liner{
    height: 0%;
  }
  .catalog_container{
    height: 0%;
    padding-left: 5px;
    padding-bottom: 100px;
  }

  .buttons_layout{
    //padding-left: 10px;
    //padding-top:10px;
    //padding-top: 10px;
    padding-left: 50px;
  }

  .d3{
    width: 310px;
    margin-left: 30px;
    margin-right: 20px;

  }
  .cat{
    font-family: 'Jost', sans-serif;
    color:#D0D0D0;
    margin-right: 10px;
    size:2.5rem;
  }
  
  .user_icon{
    padding-left: 600px;
    padding-bottom: -100px;
  }
  .submit{
    margin-bottom: -50px;
  }



  .line-icon,
  .mesenger,
  .promo,
  .contact-icons,
  .mail,
  //.user_icon,
  .logo_glav{
    display: none;
  }

}
@media (max-width: 768px) and (min-width: 576px){
  .full {
    width: 100%;
    height: 80px;
  }
  .liner{
    height: 0%;
  }
  .catalog_container{
    height: 0%;
    padding-left: 5px;
    padding-bottom: 100px;
  }

  .buttons_layout{
    //padding-left: 10px;
    //padding-top:10px;
    //padding-top: 10px;
    padding-left: 50px;
  }

  .d3{
    width: 310px;
    margin-left: 30px;
    margin-right: 20px;

  }
  .cat{
    font-family: 'Jost', sans-serif;
    color:#D0D0D0;
    margin-right: 10px;
    size:2.5rem;
  }
  
  .user_icon{
    //padding-left: 600px;
  }



  .submit,
  .line-icon,
  .mesenger,
  .promo,
  .contact-icons,
  .mail,
  //.user_icon,
  .logo_glav{
    display: none;
  }
}

@media (max-width: 576px) {
  .full {
    width: 100%;
    height: 80px;
  }
  .liner{
    height: 0%;
  }
  .catalog_container{
    height: 0%;
    padding-left: 2px;
    padding-bottom: 100px;
  }

  .buttons_layout{
    //padding-left: 10px;
    //padding-top:10px;
    //padding-top: 10px;
    padding-left: 5px;
  }
  .user_icon{
    padding-right:125px;
  }

  .user,
  .submit,
  .d3,
  .line-icon,
  .mesenger,
  .promo,
  .contact-icons,
  .mail,
  .logo_glav{
    display: none;
  }
}