@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.header{
  background-color: #050402;
  width: 1920px;
  height:160px;
}

.contact-icons{
  display: flex;
  flex-direction: row;

    span{
      margin-left: 10px;
      padding-top: 5px;
      font-family: 'Jost', sans-serif;
      color:aliceblue;
    }

}
.mail{
  margin-left: 56px;
  display: flex;
  flex-direction: row;
    span{
      margin-left: 10px;
      padding-top: 5px;
      font-family: 'Jost', sans-serif;
      color:aliceblue;
    }
}
.viber{
  font-family: 'Jost', sans-serif;
  color:aliceblue;
  font-size: 0.75rem;
  word-spacing: 12px;

}
.line-icon{
  padding-left: 22rem; 
  padding-right:22rem;
}
.logo_glav{
  padding-left: 142px;
  padding-right: 256px;
}
.liner{
  display: flex;  
  flex-direction: row;
  align-items: center;
  padding-left: 352px;
  padding-right:352px;
  padding-top:36px;
  width: 100%;
  margin: 0;
}
.user_icon{
  display: flex;  
  flex-direction: row;
  gap: 50px
}
.price {
font-family: 'Jost', sans-serif;
color: aliceblue;
display: flex;
align-items: center;
gap: 10px;
}
.mesenger{
  display: flex;
  margin-left: 356px;
  font-family: 'Jost', sans-serif;
  color:#D0D0D0;
  font-size: 13px;

  span {
    margin-right: 10px; 
  }
}