.footer{
    background-color: black;
    display: flex;
    padding-left: px; /* Добавляем отступ слева */
}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 400px;
    width: 100%; /* Растягиваем на всю доступную ширину */
}
.textp{
    color: white;
    font-family: 'Jost', sans-serif;
    margin-bottom: 20px;
}
.logo{
    margin-right: 200px;
}

.contanier1, .contanier2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px; /* Уменьшил отступ, чтобы контейнеры были ближе */
}
.contanier3{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mail{
    margin-left: 150px;
    display: flex;
    flex-direction: row;
      span{
        margin-left: 10px;
        padding-top: 5px;
        font-family: 'Jost', sans-serif;
        color:aliceblue;
        margin-right: 40px;
      }
}
.contact-icons{
    margin-left: 150px;
    display: flex;
    flex-direction: row;
  
      span{
        margin-left: 10px;
        padding-top: 5px;
        font-family: 'Jost', sans-serif;
        color:aliceblue;
      }
  
}

@media (max-width: 576px){
  .footer {
    background-color: black;
    display: flex;

}

  .square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .logo{
    margin-left:110px;
    margin-top: -110px;
  }
  .contanier1,
  .contanier2 {
      margin-left: 20px;
  }

  .textp {
    display: block;
    margin-bottom: 10px;
  }
  .contanier3{
    margin-top: -100px;
  }
}
