@font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Brend{
    margin-top: 80px;
    margin-bottom: 80px;
}
.contanier1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; // Добавляем отступ между контейнерами
}
  
.contanier2 {
    display: flex;
    justify-content: center;
}
.image {
    margin-right: 30px; // Добавляем отступ справа для всех изображений, кроме последнего
}
.popular_brend{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Jost', sans-serif;
    font-size: 2.75rem;
}

@media (max-width: 576px){
    .popular_brend{
        display: flex;
        justify-content: center;
        font-size: 1.75rem;

    }
    .contanier1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        place-items: center;
        margin-left: 20px;
    }
    .contanier2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        place-items: center;
        margin-left: 20px;
    }

    .image{
        margin-top: 20px;
    }

}
