@font-face {
    font-family: 'Forum';
    src: url('/fonts/Forum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
.imageContainer {
    position: relative;
}
  
.image {
    width: 100%;
    height: auto;
}
  
.bannerText {
    position: absolute;
    top: 240px;
    left: 352px;
    transform: translateY(-50%);
    text-align: left;
    color: white;
}
.text1{
    font-family: 'Forum', sans-serif;
    font-size: 3.6875rem;
    color:#BB8C5F;
    line-height:75px;
}
.text2{
    font-family: 'Jost', sans-serif;
    font-size: 1.5625rem;
    color: #FAF6F2;
    line-height:35px;
    margin-top: 30px;
}
.idiot_button{
    margin-top: 60px;
}
.myButton {
    width: 275px;
    height: 70px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #524336; 
    color: white;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    font-family: 'Forum', sans-serif;
    cursor: pointer;
    opacity: 0.9;
    border: 2px solid #BB8C5F;
}
  
.myButton:hover {
    opacity: 1;
}
@media (max-width: 1200px) and (min-width: 992px){
    .bannerText{
        position: absolute;
        top: 190px;
        left: 100px;
        text-align: left;
        color: white;
        
    }
    .idiot_button{
        margin-top: 40px;

    }

    .myButton {
        width: 200px;
        height: 50px;
        font-size: 18px;
        border-radius: 5px;
        background-color: #524336; 
        color: white;
        text-align: center;
        display: inline-block;
        margin: 4px 2px;
        font-family: 'Forum', sans-serif;
        cursor: pointer;
        opacity: 0.9;
        border: 2px solid #BB8C5F;
    }

}
@media (max-width: 992px) and (min-width: 768px){
    .bannerText{
        position: absolute;
        top: 130px;
        left: 100px;
        text-align: left;
        color: white;    
    }

    .text1{
        font-size: 2.3rem;
        color:#BB8C5F;
        line-height:45px;

    }
    .text2{
        font-size: 1.3rem;
    }

    .myButton {
        width: 150px;
        height: 50px;
        font-size: 18px;
        border-radius: 5px;
        background-color: #524336; 
        color: white;
        text-align: center;
        display: inline-block;
        margin: 4px 2px;
        font-family: 'Forum', sans-serif;
        cursor: pointer;
        opacity: 0.9;
        border: 2px solid #BB8C5F;
    }

    .idiot_button{
        margin-top: 20px;

    }
}
@media (max-width: 768px) and (min-width: 576px){
    .bannerText{
            position: absolute;
            top: 130px;
            left: 80px;
            text-align: left;
            color: white;    
    }
    .text1{
            font-size: 1.8rem;
            color:#BB8C5F;
            line-height:30px;
    
    }
    .text2{
            font-size: 1.3rem;
            line-height:30px;
    }
    .myButton,
    .idiot_button{
        display: none;
    }


}



@media (max-width: 576px) {
    .bannerText{
            position: absolute;
            top: 100px;
            left: 30px;
            text-align: left;
            color: white;    
    }
    .text1{
            font-size: 1.8rem;
            color:#BB8C5F;
            line-height:30px;
    
    }
    .text2{
            font-size: 1.3rem;
            line-height:30px;
    }
    .myButton,
    .idiot_button{
        display: none;
    }
}